.toolbox {

    .toolbox-inner {
        float:right;
        .dir-rtl & {
            float:left;
        }
    }

    .toolbox-button {
    	float:right;
        .dir-rtl & {
            float:left;
        }
    }
    
}