<div class="toolbox-inner">
{{#each toolbox}}
	<button class="nav__btn toolbox_btn" aria-label="{{_ariaLabel}}" data-event="{{_trigger}}">
    <div class="icon {{_icon}}"></div>
	</button>
{{/each}}
</div>
