<div class="toolbox-inner">
{{#each toolbox}}
	<button class="base toolbox-button icon {{_icon}}"{{#if _ariaLabel}} aria-label="{{_ariaLabel}}"{{/if}}{{#unless _ariaLabel}} aria-hidden="true"{{/unless}}></button>
{{/each}}
</div>
